.cart-panel{
    width:0;
    height:1200px;
    background-color: #f9f9f9;
    border-left:1px solid #d0382e;
    border-top:1px solid #d0382e;
    position: fixed;
    top:0px;
    right:0;
}
.cart-items{
    width:85%;
    margin:auto;
}
.cart-item{
    width:100%;
    
    display: flex;
}
.cart-table-head ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #d0382e;
    color:#fff;
}
.item img{
    width:80px;
    height:80px;
    background-color: #e0e0e0;
}
.item {
    display: flex
;
    justify-content: space-evenly;
    flex: auto;
}
.items{
    display: flex;

  justify-content: center;

  align-items: center;
}
.item-discount{
    margin-left:20px;
}
.item_details,.item_quantity,.item_subtotal{
    display: inline-block;
}
.item_details{
    flex-grow: 0.8;
    vertical-align: top;
    margin-left: 5px;
}
.item_quantity{
    margin-left:20px;
    vertical-align: top;
    margin-top: 20px;
}
.item_subtotal{
    vertical-align: top;
    margin-left:40px;
    margin-top: 10px;
}
input[type="number"]{
    width:25px;
    height:20px;
}
.shop-btn{
    background-color: #d0382e;
    border:1px solid #d0382e;
    padding:8px 10px;
    color:#fff;
}
.close-btn{
    margin:20px 10px;
    font-size:20px !important;
}
.delete{
    margin-left:5px;
}
.checkout-bar{
    width:200px;
    height:0;
    border:2px solid #d0382e;
    margin-left:120px;   
    margin-top: 20px;
}

.checkout-block{
    width:50%;
    margin-left:150px;
    margin-top:25px;
}
.checkout-block p{
    margin-top: 10px;
}
.amount{
    margin-left:50px;
}
.checkout-btn{
    border:1px solid #d0382e;
    color:#fff;
    background-color: #d0382e;
    border-radius: 20px;
    padding:5px 20px;
    margin-left:20px;
}
